* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header */
.mi-header{
    background-color: chocolate;
}
/* SECCION DULCE DEL ALMA */
.dulce-del-alma{
    color: #fff;
    display: flex;
    align-items: flex-end;
    background-image: url(../images/Central/imagenCentral.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80vh;
    padding: 1rem 0;
}
/* SECCION PRODUCTOS */
.productos{
    color: #fff;
}
.producto-1{
    height: 50vh;
    background: url(../images/Productos/Producto1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.producto-1-background{
    height: 50vh;
    background-color: black;
}