@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* Header */

.logo-principal{
    width: 50%;
}
/* SECCION DULCE DEL ALMA */
.dulce-del-alma{
    color: #fff;
    background-image: url(../images/Central/imagenCentral.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80vh;
}
/* SECCION PRODUCTOS */
.titulo-principal{
    background-color: #212529;
}
.productos{
    color: #fff;
}
.producto-1{
    height: 50vh;
    background: url(../images/Productos/Producto1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.producto-1-background{
    height: 50vh;
    background-color: black;
}
.producto-2{
    height: 50vh;
    background: url(../images/Productos/bonus.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.producto-3{
    height: 50vh;
    background: url(../images/Productos/Producto3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.producto-4{
    height: 50vh;
    background-color: #a68a64;
}
.producto-4 img{
    width: 50%;
}
.producto-4-background{
    height: 50vh;
    background-color: #a68a64;
}
/* SECCION CALIDAD */
.calidad{
    background-color: black;
}
.calidad h2{
    color: white;
}
.img-calidad{
    width: 100%;
}
/* SECCION CONTACTO */
.contacto{
    background-color: #212529;
    color: #fff;
}
.contacto-img{
    height: 66vh;
    background: url(../images/Contacto/contacto-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
/* SECCION RECETAS */
.recetas{
    background-color: black;
    color: #fff;
}
.recetas-div{
    background-color: #a68a64;
}
.recetas-img{
    width: 100%;
}
/* SECCION FOOTER */
footer{
    background-color:#212529;
    color: #fff;
}
.logo-footer{
    width: 50%;
    height: 50%;
}
.lg-6-column a{
    text-decoration: none;
    color: #fff;
}
@media (min-width: 992px) {
    .lg-6-column {
        display: flex;
        flex-direction: column;
        justify-content: space-around !important;
        height: 85%;
    }
}
.icon-lg{
    font-size: 25px;
}
@media (min-width: 992px) {
    .icon-lg {
        font-size: 40px; /* Tamaño original */
    }
}